<div class="mt-3 border shadow-box">
    <div class="" style="padding: 20px 44px;">
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm">
            <div class="mt-4 row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="" class="form-label">Old Password</label>
                        <input type="password" class="form-control" placeholder="Enter Old Password" formControlName="oldPassword">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-2">
                        <label for="" class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="Enter New Password" formControlName="newPassword">
                    </div>
                </div>
                <div class="col-md-1 mt-2">
                    <button class="btn btn-primary mt-4" (click)="changePassword()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>