.row2{
    background-color: rgb(242, 240, 240);
    padding: 100px;
}

.form-control{
    height:50px;
}
.row1{
    background-color: rgb(58, 98, 244);
    height: 745px;
}
p{
    font-size: 13px;
}
h2{
    width: 60px;
    height: 50px;
    align-items: center;
    
}
h1{
    font-size: 50px;
    padding-top: 150px;
    }
.btn{
    background-color: rgb(58, 98, 244);
}