<div class="container-fluid">
    <div class="row">
        <div class=" row2 col-md-6  ">
            <h2 class="text-center bg-white shadow mx-auto rounded-3"><span style="color:rgb(58, 98, 244)">B</span>e.
            </h2>
            <h4 class="text-center py-3">Sign Up</h4>
            <form class="form-data" [formGroup]="signupForm">
                <div class="row">
                    <div class="form-Group col-md-6">
                        <!-- <span class="input-icon"><i class="fa fa-envelope" style="font-size:20px"></i></span> -->
                        <label class="mb-2">First Name</label>
                        <input type="text" class="form-control " placeholder="Please enter first name"
                            formControlName="firstname">
                    </div>
                    <div class="form-Group col-md-6">
                        <!-- <span class="input-icon"><i class="fa fa-lock" style="font-size:20px"></i></span> -->
                        <label class="mb-2">Last Name</label>
                        <input type="text" class="form-control " formControlName="lastname"
                            placeholder="Please enter last name">
                    </div>
                    <div class="form-Group col-md-6">
                        <!-- <span class="input-icon"><i class="fa fa-envelope" style="font-size:20px"></i></span> -->
                        <label class="mb-2">Phone Number</label>
                        <input type="text" class="form-control " placeholder="Please enter phone number" formControlName="phone">
                    </div>
                    <div class="form-Group col-md-6">
                        <!-- <span class="input-icon"><i class="fa fa-envelope" style="font-size:20px"></i></span> -->
                        <label class="mb-2">Email</label>
                        <input type="text" class="form-control " placeholder="Please enter email" formControlName="email">
                    </div>
                    <div class="form-Group col-md-6">
                        <!-- <span class="input-icon"><i class="fa fa-lock" style="font-size:20px"></i></span> -->
                        <label class="mb-2">Password</label>
                        <input [type]="inputType" class="form-control " formControlName="password"
                            placeholder="Please enter password">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mb-2">Confirm Password</label>
                        <input [type]="inputType" class="form-control " formControlName="password"
                        placeholder="Please enter confirm password">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mb-2">Profile Photo</label>
                        <input type="file" class="form-control " formControlName="avatar"
                        placeholder="Please enter confirm password">
                    </div>
                </div>
            </form>
            <div class="mt-4 mt=5">
                <button class="btn btn-success w-100  p-2" (click)="submit()">Submit</button>
            </div>
        </div>

        <div class="row1 col-md-6  p-5  text-white ">
            <h1 class="mt-5 ps-5 ">Join Our <br> Community</h1>
            <p class="ps-5">Be inspried by Created by designer around the global</p>
        </div>
    </div>
</div>