.container {
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 0px 450px;
}

.p-12 {
    padding: 28px 8px !important;
}

.fullscreen {
    background: white;
    position: sticky;
    margin-left: 8px;
}